{% extends 'base.html' %}
{% block title %}Account{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">{{ current_user.usr_nm }}'s Account</h1>
        <div class="row">
            <!-- My Balance -->
            <div class="col col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    My Balance
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ current_user.money }}
                                    &#8361;
                                </div>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="btn btn-info btn-icon-split" data-toggle="modal"
                                   data-target="#addMoneyModal">
                                    <span class="text">Add</span>
                                </a>
                                {% if current_user.money > 0 %}
                                    <a href="#" class="btn btn-warning btn-icon-split" data-toggle="modal"
                                       data-target="#withdrawModal">
                                        <span class="text">Withdraw</span>
                                    </a>
                                {% else %}
                                    <a class="btn btn-warning btn-icon-split disabled">
                                        <span class="text">Withdraw</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- My Coins -->
            <div class="col col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    My Coins
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ current_user.coin }}</div>
                            </div>
                            <div class="col-auto">
                                {% if current_user.is_authenticated %}
                                    <a href="#" class="btn btn-danger btn-icon-split" data-toggle="modal"
                                       data-target="#sellModal">
                                        <span class="text">Sell</span>
                                    </a>
                                {% else %}
                                    <i class="fa-solid fa-coins fa-2x text-gray-300"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}