{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            {% if current_user.is_authenticated %}
                <!-- My Balance -->
                <div class="col-xl-3 col-md-6 mb-4" onclick="location.href='/account'" style="cursor:pointer;">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        My Balance
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {{ current_user.money }} &#8361;
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-wallet fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- My Coins -->
                <div class="col-xl-3 col-md-6 mb-4" onclick="location.href='/account'" style="cursor:pointer;">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        My Coins
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ current_user.coin }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-coins fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}
            <!-- Recent Sales -->
            <div class="{{ c }}">
                {% if current_user.is_authenticated %}
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Recent Sales
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ recent_coin.coin_nm }} Coins
                                    &times;
                                    {{ recent_price }} &#8361;
                                </div>
                            </div>
                            <div class="col-auto">
                                {% if current_user.usr_id != recent_coin.seller_id %}
                                    <a href="#" class="btn btn-info btn-icon-split" data-toggle="modal"
                                       data-target="#buyModal">
                                        <span class="text">Buy</span>
                                    </a>
                                {% else %}
                                    <a href="#" class="btn btn-danger btn-icon-split" data-toggle="modal"
                                       data-target="#updateModal">
                                        <span class="text">Update</span>
                                    </a>
                                {% endif %}
                                <!-- Buy Modal-->
                                <div class="modal fade" id="buyModal" tabindex="-1" role="dialog"
                                     aria-labelledby="buyModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="buyModalLabel">Buy Coins</h5>
                                                <button class="close" type="button" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">Are you sure to Buy Coins?
                                                <div class="card bg-light text-gray-800 shadow align-content-center">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                Balance
                                                                <div class="h5 mb-0 font-weight-bold text-success">
                                                                    {{ current_user.money }} &#8361;
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card bg-light text-gray-800 shadow align-content-center">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                Coins
                                                                <div class="h5 mb-0 font-weight-bold text-success">
                                                                    {{ recent_coin.coin_nm }} Coins
                                                                    &times; {{ recent_coin.price }}
                                                                    &#8361;
                                                                    = {{ recent_coin.coin_nm*recent_coin.price }}
                                                                    &#8361;
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button"
                                                        data-dismiss="modal">Cancel
                                                </button>
                                                {% if current_user.money < recent_coin.coin_nm * recent_coin.price %}
                                                    <a class="btn btn-primary disabled">Buy</a>
                                                {% else %}
                                                    <a class="btn btn-primary"
                                                       href="/buy/{{ recent_coin.id }}">Buy</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Update Modal -->
                                <div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
                                     aria-labelledby="updateModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="updateModalLabel">Update Info</h5>
                                                <button class="close" type="button" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">Are you sure to update the information?
                                                <div class="card bg-light text-gray-800 shadow align-content-center">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                Balance
                                                                <div class="h5 mb-0 font-weight-bold text-success">
                                                                    {{ current_user.money }} &#8361;
                                                                </div>
                                                            </div>
                                                            <div class="col mr-2">
                                                                Coins Left
                                                                <div class="h5 mb-0 font-weight-bold text-primary">
                                                                    {{ current_user.coin }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card bg-light text-gray-800 shadow align-content-center">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                Original
                                                                <div class="h5 mb-0 font-weight-bold text-success">
                                                                    {{ recent_coin.coin_nm }} Coins
                                                                    &times; {{ recent_coin.price }} &#8361;
                                                                    = {{ recent_coin.coin_nm*recent_coin.price }}
                                                                    &#8361;
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card bg-light text-gray-800 shadow align-content-center">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                Update
                                                                <form class="money" method="post"
                                                                      action="/update-coin/{{ recent_coin.id }}"
                                                                      id="update-coin">
                                                                    <div class="form-group">
                                                                        {% if current_user.is_authenticated and current_user.coin > 0 %}
                                                                            <input type="text" class="form-control"
                                                                                   id="coin"
                                                                                   aria-describedby="number"
                                                                                   placeholder="{{ recent_coin.coin_nm }}"
                                                                                   name="coin"
                                                                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                                            <input type="text" class="form-control"
                                                                                   id="money"
                                                                                   aria-describedby="number"
                                                                                   placeholder="{{ recent_coin.price }}"
                                                                                   name="money"
                                                                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                                        {% else %}
                                                                            <input type="text" class="form-control"
                                                                                   id="coin"
                                                                                   aria-describedby="number"
                                                                                   placeholder="{{ recent_coin.coin_nm }}"
                                                                                   name="coin" readonly>
                                                                            <input type="text" class="form-control"
                                                                                   id="money"
                                                                                   aria-describedby="number"
                                                                                   placeholder="{{ recent_coin.price }}"
                                                                                   name="money"
                                                                                   readonly>
                                                                        {% endif %}
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button"
                                                        data-dismiss="modal">Cancel
                                                </button>
                                                <button type="submit" class="btn btn-danger" form="update-coin"
                                                        onclick="javascript: form.action='/delete-coin/{{ recent_coin.id }}'">
                                                    Delete
                                                </button>
                                                <button type="submit" class="btn btn-warning" form="update-coin">
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center" onclick="location.href='/marketplace'"
                             style="cursor:pointer;">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Recent Sales
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ recent_coin.coin_nm }} Coins
                                    &times;
                                    {{ recent_price }} &#8361;
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-store fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>

            <!-- Current Coin Price -->
            <div class="{{ c }}" onclick="location.href='/marketplace'" style="cursor:pointer;">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Current Coin Price
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ latest_price }} &#8361;
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-money-bill-wave fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Content Row -->

        <div class="row">

            <!-- Currency Chart -->
            <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4" onclick="location.href='/charts'" style="cursor:pointer;">
                    <!-- Card Header -->
                    <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Currency Chart</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="currencyChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <script src="{{ url_for('static', filename='/js/modalevent.js') }}"></script>
{% endblock %}
