<!DOCTYPE html>
<html>
<head>
  <title>회원가입</title>
  <link rel="stylesheet" href="../static/CoinMarket.css">
</head>
<body>
  <!--상단바 추가안하고 참조하고 싶은데 하는 방법을 모르겠습니다.-->
  <div class="navbar">
    <a href="/">Home</a>
    <a href="">MarketPlace</a>
    <a href="">History</a>
    <a href="">MyPage</a>
    <a href="/join">Join</a>
    <a href="/login">Login</a>
  </div>
  <h1>Join</h1>
  <form action="/register" method="post">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="userid">UserID:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <input type="submit" value="Join">
    </div>
  </form>
</body>
</html>
