{% extends 'base.html' %}
{% block title %}Marketplace{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Marketplace</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="col mb-4">
                <div class="card bg-light text-gray-800 shadow align-content-center">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                We Have
                                <div class="h5 mb-0 font-weight-bold text-success">
                                    {{ left_coin }}
                                </div>
                                Coins Left
                            </div>
                            <div class="col-auto">
                                {% if current_user.is_authenticated %}
                                    {% if left_coin > 0 %}
                                        <a href="#" class="btn btn-danger btn-icon-split" data-toggle="modal"
                                           data-target="#buyModalMarket">
                                            <span class="text">Buy</span>
                                        </a>
                                    {% else %}
                                        <a class="btn btn-secondary btn-icon-split disabled">
                                            <span class="text">Buy</span>
                                        </a>
                                    {% endif %}
                                    <!-- Buy ModalMarket-->
                                    <div class="modal fade" id="buyModalMarket" tabindex="-1" role="dialog"
                                         aria-labelledby="buyModalMarketLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="buyModalMarketLabel">Buy Coins</h5>
                                                    <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">Are you sure to Buy Coins?
                                                    <div class="card bg-light text-gray-800 shadow align-content-center">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    Balance
                                                                    <div class="h5 mb-0 font-weight-bold text-success">
                                                                        {{ current_user.money }} &#8361;
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card bg-light text-gray-800 shadow align-content-center">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    Coins
                                                                    <form class="money" method="post"
                                                                          action="/buy/0" id="buymarket">
                                                                        <div class="form-group">
                                                                            {% if current_user.money > 0 %}
                                                                                <input type="text" class="form-control"
                                                                                       id="number"
                                                                                       aria-describedby="number"
                                                                                       placeholder="Number of Coins"
                                                                                       name="number"
                                                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                                                       maxlength="3">
                                                                            {% else %}
                                                                                <input type="text" class="form-control"
                                                                                       placeholder="Number of Coins"
                                                                                       readonly>
                                                                            {% endif %}
                                                                        </div>
                                                                        <hr>
                                                                        <div class="row no-gutters align-items-center">
                                                                            <div class="col mr-2" id="total">
                                                                                <div class="h5 mb-0 font-weight-bold text-danger">
                                                                                    &times; 100 &#8361; / Coin
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button"
                                                            data-dismiss="modal">Cancel
                                                    </button>
                                                    {% if current_user.money <= 0 %}
                                                        <a class="btn btn-primary disabled">Buy
                                                        </a>
                                                    {% else %}
                                                        <button type="submit" class="btn btn-primary"
                                                                form="buymarket">Buy
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <i class="fa-solid fa-coins fa-2x text-gray-300"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Overview</h1>
        </div>
        <!-- Overview -->
        <div class="row">
            <!-- Currency Chart -->
            <div class="{{ c }} col">
                <div class="card shadow mb-4" onclick="location.href='/charts'" style="cursor:pointer;">
                    <!-- Card Header -->
                    <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Prices Overview</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="currencyChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            {% if current_user.is_authenticated %}
                <div class="col-xl-4 col">
                    <!-- My Balance -->
                    <div class="col mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            My Balance
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{ current_user.money }} &#8361;
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a href="#" class="btn btn-info btn-icon-split" data-toggle="modal"
                                           data-target="#addMoneyModal">
                                            <span class="text">Add</span>
                                        </a>
                                        {% if current_user.money > 0 %}
                                            <a href="#" class="btn btn-warning btn-icon-split" data-toggle="modal"
                                               data-target="#withdrawModal">
                                                <span class="text">Withdraw</span>
                                            </a>
                                        {% else %}
                                            <a class="btn btn-warning btn-icon-split disabled">
                                                <span class="text">Withdraw</span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- My Coins -->
                    <div class="col mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            My Coins
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ current_user.coin }}</div>
                                    </div>
                                    <div class="col-auto">
                                        {% if current_user.is_authenticated %}
                                            {% if current_user.coin > 0 %}
                                                <a href="#" class="btn btn-danger btn-icon-split" data-toggle="modal"
                                                   data-target="#sellModal">
                                                    <span class="text">Sell</span>
                                                </a>
                                            {% else %}
                                                <a href="#" class="btn btn-secondary btn-icon-split disabled">
                                                    <span class="text">Sell</span>
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <i class="fa-solid fa-coins fa-2x text-gray-300"></i>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Current Coin Price -->
                    <div class="col mb-4" onclick="location.href='/marketplace'" style="cursor:pointer;">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Current Coin Price
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{ latest_price }} &#8361;
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-money-bill-wave fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <!-- Section Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">On Sale</h1>
        </div>
        <!-- Content Row -->
        <div class="row">
            <!-- Content Column -->
            <div class="col mb-4">
                <!-- On Sale -->
                <div class="row">
                    {% for item in on_sale %}
                        {% if current_user.is_authenticated %}
                            {% if item.seller_id == current_user.usr_id %}
                                <div class="col-lg-3 mb-4">
                                    <a class="card bg-success text-white shadow" href="#" data-toggle="modal"
                                       data-target="#updateModal{{ item.id }}" id="sellcard">
                                        <div class="card-body">
                                            {{ item.coin_nm }} Coins &times; {{ item.price }} &#8361;
                                            <div class="text-white-50 small">
                                                Seller: {{ item.seller_id.strip("''") }}</div>
                                        </div>
                                    </a>
                                </div>
                            {% else %}
                                <div class="col-lg-3 mb-4">
                                    <a class="card bg-info text-white shadow" href="#" data-toggle="modal"
                                       data-target="#buyModal{{ item.id }}" id="sellcard">
                                        <div class="card-body">
                                            {{ item.coin_nm }} Coins &times; {{ item.price }} &#8361;
                                            <div class="text-white-50 small">
                                                Seller: {{ item.seller_id.strip("''") }}</div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="col-lg-3 mb-4">
                                <div class="card bg-info text-white shadow">
                                    <div class="card-body">
                                        {{ item.coin_nm }} Coins &times; {{ item.price }} &#8361;
                                        <div class="text-white-50 small">Seller: {{ item.seller_id.strip("''") }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}