<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa-solid fa-bitcoin-sign"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Coin Market</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <script type="text/javascript">
        $(function(){
            $('.sidebar').children('.active').removeClass('active');
            console.log($('a[href^="/'+location.pathname.split("/")[1]+'"]'));
            $('.sidebar a[href^="/'+location.pathname.split("/")[1]+'"]').parent().addClass('active');
        })
    </script>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Marketplace -->
    <li class="nav-item">
        <a class="nav-link" href="/marketplace">
            <i class="fa-solid fa-comments-dollar"></i>
            <span>Marketplace</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    {% if current_user.is_authenticated %}
        <!-- Heading -->
        <div class="sidebar-heading">
            Personal
        </div>

        <!-- Nav Item - My Page Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/my-page">
                <i class="fa-solid fa-user"></i>
                <span>My Page</span></a>
        </li>

        <!-- Nav Item - Account -->
        <li class="nav-item">
            <a class="nav-link" href="/account">
                <i class="fa-solid fa-wallet"></i>
                <span>Account</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
    {% endif %}

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    {% if not current_user.is_authenticated %}
        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex" id="sidebarCard">
            <img class="sidebar-card-illustration mb-2"
                 src="{{ url_for('static', filename='/img/undraw_rocket.svg') }}" alt="...">
            <p class="text-center mb-2"><strong>Coin Market</strong> is where you can trade your coins freely!</p>
            <a class="btn btn-success btn-sm" href="/register">Sign Up</a>
        </div>
    {% endif %}

</ul>
<!-- End of Sidebar -->